<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <body>
        <div style="max-width: 400px; margin: auto;">
            <p th:text="'Hi ' + ${username} + ','"></p>
            <p>Your password has been changed!</p>
            <p>If this wasn't you, please reset your password immediately.</p>
            <a th:href="@{http://localhost:8080/reset-password}" style="font-weight: bold;">Reset password now</a>
            <hr>
            <p>IP address: <span th:text="${ip}"></span></p>
            <p>Device: <span th:text="${userAgent}"></span></p>
            <p>Time: <span th:text="${time}"></span></p>
        </div>
    </body>
</html>